html {
	/*     Размер базового шрифта */
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;

}

body {
	/*    width: 800px;*/
	background-color: antiquewhite;
	border: 5px solid black;
	margin: 0 auto;
	padding: 0 20px 20px 20px;
}

.main-container {
	padding: 50px;
}

h1 {
	background-color: beige;
	color: red;
	/*	padding: 20px 0;*/
	padding: 5px;
	text-align: center;
}

h2 {
	text-align: center;
}

h2:hover {
	opacity: 0.3;
}

p {
	letter-spacing: 1px;
	line-height: 2;
}

p::first-letter {
	color: red;
	font-size: 1.2rem;
	font-weight: bold;
}


/* Задаю стили для изображений */
/*-------------------------------------------------------------------------- */


.logo {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}


/* Задаю стили для списка навигации */
/*-------------------------------------------------------------------------- */


.navi {
	display: flex;
}

nav ul {
	list-style-type: none;
}

.navi a {
	/*    background-color: bisque;*/
	display: inline-block;
	margin: -2em 1em 2em 1em;
	padding: 1em 2em;
}

.special {
	color: orangered;
	font-weight: bold;
}


/* Меняю стили по умолчанию у ссылок */
/*-------------------------------------------------------------------------- */


a {
	font-weight: bold;
}

a:hover {
	color: green;
	text-decoration: none;
}


button:hover {
	scale: 1.5
}



/* Формирую медиазапросы для различных размеров экрана браузера */
/*-------------------------------------------------------------------------- */


@media (max-width: 868px) {
	body {
		background-color: aqua;
	}
}
