html {
    /* Размер базового шрифта */
    font-size: 16px;

    font-family: 'Open Sans', sans-serif;
}

body {
    width: 800px;
    margin: 0 auto;
    background-color: antiquewhite;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}


.main-container {
    padding: 50px;
}

h1 {
    text-align: center;
    padding: 20px 0;
    color: red;
    background-color: beige;
    padding: 5px;
}

h2 {
    text-align: center;
}

h2:hover {
    opacity: 0.3;
}

p {
    line-height: 2;
    letter-spacing: 1px;
}

p::first-letter {
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
}


/* Задаю стили для изображений */
/*-------------------------------------------------------------------------- */


.logo {
    display: block;
    margin: 0 auto;
}


/* Задаю стили для списка навигации */
/*-------------------------------------------------------------------------- */


.navi {
    list-style-type: none;
}

li.special {
    font-weight: bold;
    color: orangered;
}


/* Меняю стили по умолчанию у ссылок */
/*-------------------------------------------------------------------------- */


a {
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: green;
}


button.scale:hover {
    scale: 1.5;
}



/* Формирую медиазапросы для различных размеров экрана браузера */
/*-------------------------------------------------------------------------- */


@media (max-width: 868px) {
    body {
        background-color: aqua;
    }
}
